*{
    margin: 0;
    padding: 0;
    position: relative;
}
title{
    display: none;
}
style{
    display: none;
}
:root{
    --main-color:red;
    --background-color:linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    --text-color:rgb(205, 205, 205);
}
body{
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

}

body::-webkit-scrollbar {
width: 0 !important;
display: none; 
}

