*{
    padding: 0;
    margin: 0;
}
:root{
    --main-color:rgba(79, 79, 79, 0.452);
    --background-color:linear-gradient(98.3deg, rgba(151, 89, 2, 0.765) 10.6%, rgb(172, 0, 0) 97.7%);
    --text-color:rgb(205, 205, 205);
    --button-color: rgb(255, 114, 114);
    --back-color:rgba(255, 255, 255, 0.283);
    --blur--color: rgba(79, 64, 96, 0.4);
}

body{
    background-color: aliceblue;
}

.home-navbar{
    width: 100%;
    position: fixed;
    z-index: 1;
    
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.home-navbar-left{
    display: flex;
}
.home-navbar-left-logo{
width: 60px;
height: 60px;
margin: 0 10px;

}
.home-navbar-left-search{
    height: 20px;
    padding:10px 80px 10px 10px;
    border-radius: 20px;
    border: 0px;
    margin: 0 10px;
    margin: auto 0;
    background-color: var(--back-color);
}
.home-navbar-left-submit{
width: 40px;
height: 40px;
margin: 10px 5px;
border-radius: 50%;
border: 0.5px solid var(--back-color);
background-color:var(--back-color) ;
}
.home-navbar-left-submit:hover{
    cursor: pointer;
}


.home-navbar-center{
    width: 30px;
    height: 30px;
    margin: auto 0;
    padding: 0 150px;
    padding: 10px;
    border-radius: 50%;
    border: 0.5px solid var(--main-color);
    background-color: var(--back-color);
}
.home-navbar-center:hover{
    cursor: pointer;
}


.home-navbar-right{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}
.home-navbar-right:hover{cursor: pointer;}

.home-navbar-right-message{
    width:30px;
    height:30px;
    margin: auto 0;
    padding: 8px;
    border-radius: 50%;
    border: 0.5px solid var(--main-color);
    background-color: var(--back-color);
}

.home-navbar-right-user{
height: 45px;
display: flex;
border-radius: 30px;
border: 0.5px solid var(--main-color);
background-color: var(--back-color);
margin: auto 10px;
}
.home-navbar-right-user img{

    width:30px;
    height:30px;
    margin: auto 0;
    padding: 8px;

}
.home-navbar-right-user span{
margin: auto 0;
padding-right: 10px;
color: white;
}

.home-navbar-link{
    margin: auto 0;
    text-decoration: none;
}

.home-body{
    width: 100%;
    padding-top: 65px;
}
.slider{
    width: 1224px;
    height: 360px;
    margin: 0 auto;
    position: relative;

}
.list{
    width: 1224px;
    height: 100%;
    
  
}
.slider img{
    width: 1224px;
    height: 100%;
    border-radius: 20px;
    display: block;
    
}
