*{
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}
title{
    display: none;
}
style{
    display: none;
}
:root{
    --main-color:red;
    --background-color:linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    --text-color:rgb(205, 205, 205);
    --button-color: rgb(255, 114, 114);
}
body{
    
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    display: block;

}

body::-webkit-scrollbar {
width: 0 !important;
display: none; 
}


.body{
    background: var(--background-color);
    height: 600px;
}
.content{
    
    display: flex;
    justify-content: space-around;
}
.content:hover{
    cursor: default;
}
@keyframes moveIcon{
    0%{
        transform: translate(0,0)
    }
    100%{
        transform: translate(300px,0);
    }
}
.content-img{ 
    width: 30%;
    left: -300px;
    transform: translate(300px,0);
   animation:moveIcon 2s ;
}

.text{
padding-right: 50px;
 color: var(--text-color);
 display: flex;
 flex-direction: column;
 justify-content: space-around;

}

.register{
    display: flex;
    justify-content: space-around;
}
.register-button{
width: 300px;
height: 40px;
text-align: center;
text-decoration: none;
color: rgb(255, 255, 255);
background-color:var(--button-color);
margin: 50px auto;
padding-top: 25px;
border: none;
border-radius: 30px;
font-size: large;
font-weight: 600;
}
.register-button:hover{
    transform: scale(1.1);
}



.footer{
    bottom: 0;
    background-color: #080b2b;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
.footer-context{
    align-items: center;
    
}
.footer-context ul {
margin-top: 5px;
display: flex;
flex-direction: column;
justify-content: space-between
}
.footer-context li {
    padding: 5px;
    color:var(--text-color);
}

.footer-image{
    display: flex;
    justify-content: space-between;
}
.footer-img{
    width: 40%;
}
.footer-image ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}
.footer-image li {
    color:var(--text-color);
    padding: 10px 10px;
}

@media only screen and (max-width: 1000px) {
    .body{
        width: 100%;
        background: var(--background-color);
    }
    .content-img{ 
        width: 5%;
        left: -300px;
        transform: translate(300px,0);
       animation:moveIcon 2s ;
       width: 200px;
    }
    .text{
         color: var(--text-color);
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         padding: 0;
        }
    .text h1{
        font-size: 30px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .text h2{
        font-size: 15px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
    .text h3{
        font-size: 10px;
        padding-right: 10px;
    }
    .register-button{
        width: 150px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color:var(--button-color);
        margin: 50px auto;
        padding-top: 25px;
        border: none;
        border-radius: 30px;
        font-size: large;
        font-weight: 600;
        }

        .footer{
            bottom: 0;
            background-color: #080b2b;
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: space-around;
            position:fixed;
        }
        .footer-context{
            align-items: center;
            flex: 1;
        }
        .footer-context li {
            padding: 5px;
            color:var(--text-color);
            font-size: 10px;
        }
        
        .footer-image li {
            color:var(--text-color);
            padding: 10px 10px;
            font-size: 10px;
        }
  }